:root {
  --yellow: #ffc100;
  --fuchsia: #9a0056;
  --violet: #580069;
  --purple: #11007e;
  --blue: #003287;
  --normal-text: 20px;
}
@font-face {
  font-family: matrix;
  src: url(./assets/font/matrix-iiot/Matrix.ttf) format("truetype");
}
@font-face {
  font-family: matrix-bold;
  src: url(assets/font/matrix-iiot/Matrix-Bold.ttf) format("truetype");
}

html,
body {
  height: 100%;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "matrix";
  font-size: var(--normal-text);
}

.site-identity {
  background: var(--blue);
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao {
  border: 3px solid var(--yellow) !important;
  background: var(--violet) !important;
  color: var(--yellow) !important;
  width: fit-content;
  height: fit-content;
  margin-left: 2vw;
  transition: 0.5s;
}
.botao:hover {
  background-color: var(--fuchsia) !important;
  box-shadow: 0 6px 12px var(--fuchsia) !important;
  font-family: matrix-bold !important;
}

.botao:active {
  border: 3px solid var(--violet) !important;
  box-shadow: 0 6px 12px var(--violet) !important;
  background-color: var(--yellow) !important;
  color: var(--violet) !important;
}

.content-area {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imagens-tela {
  height: 50vh;
}
.texto-estatico {
  color: var(--purple);
  text-align: center;
  width: 50vw;
}

.telas-conteudo-estatico {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-tela {
  padding: 10px;
  font-size: 40px;
  color: var(--fuchsia);
  text-shadow: 0px 4px 4px var(--violet);
}

.inputs {
  width: 20vw;
  border: 3px solid var(--fuchsia);
  border-radius: 10px;
}
.caixa-interativa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.area-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 50vw;
}
